{erl_opts, [
    {parse_transform, lager_transform},
    warn_export_all,
    warn_export_vars,
    warn_untyped_record,
    warn_unused_import,
    warnings_as_errors
]}.

{deps, [
        {lager, ".*",
            {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
        {socketpool, ".*",
            {git, "git@github.aws.rtapi.net:cb/socketpool.git"}}
        ]}.

{deps_dir, "./deps"}.

{minimum_otp_vsn, "17.0"}.

{relx, [
    {release, {'tcp_echo', "0.1.0"}, [
        inets,
        sasl,
        socketpool,
        tcp_echo]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]}.
